body {
  margin-top: 30px;
  margin-left: 20px;
  text-decoration: none !important;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.849);
  scroll-behavior: smooth;
  height: 100%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.95rem;
}

.terminal-text {
  white-space: pre-wrap;
  color: green;
}

p > strong {
  color: rgba(237, 132, 19, 0.995);
  cursor: pointer;
}

p {
  color: white;
}

@keyframes changecolor {
  0% {
    color: white;
  }
  50% {
    color: rgb(10, 255, 10);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

#terminal > p {
  color: rgb(1, 244, 54);
}

.pre-terminal {
  color: white;
  text-shadow: 0 0 2px #ffffff, 0 0 2px #000000;
}

.error-terminal {
  color: #ee0000
}

#terminal {
  border: none;
  background: transparent;
  color: white;
  font-size: 0.9rem;
}

.terminal-line {
  display: flex;
}

.pre-terminal {
  white-space: pre-wrap;
}

#cursor {
  font-size: 30px;
}

.terminal-text {
  font-size: 0.95rem !important;
  padding-right: 20px;
}

#terminal-text-active:after {
  content: "";
  width: 20px;
  height: 10px;
  background: rgb(30, 255, 0);
  opacity: 1;
  /* display: inline-block; */
  animation: blink 0.8s linear infinite alternate;
}

.interactable-file {
  color: #ffff66 !important;
  text-shadow: 0px 0 10px #ffff66, 0 0 2px #ffff66;
}

p > a {
  color: rgb(17, 255, 152);
  text-decoration: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  }
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.command-text {
  color: #00cc00 !important;
  font-size: 0.95rem !important;
}

input {
  overflow-wrap: break-word !important;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9rem !important;
  color: #00cc00 !important;
  caret-color: #00cc00;
  /* background-color: rgb(36, 109, 16); */
  text-decoration: none !important;
  outline: none !important;
  width: 100%;
}

.fancy {
  font-weight: bold;
  color: rgba(237, 132, 19, 0.995) !important;
  text-decoration: none;
}

.terminal-path {
  color: rgba(255, 247, 0, 0.824);
  margin-left: 5px;
}

.textual-info > p {
  font-size: 1rem !important;
}

.pre-name {
  margin-top: auto;
  margin-bottom: auto;
}

.pre-name {
  color: white;
  font-weight: bold;
  margin-left: 50px;
  font-size: 0.8rem;
  animation: changecolor 2s infinite;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

.ls-result {
  margin-left: 20px !important;
  margin-right: 20px !important;
  line-height: 25px;
  /* line-width: 25px; */
  overflow-wrap: normal;
}

.project {
  padding: 5px 7px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: #ffffff solid 2px;
  text-decoration: none;
}

.project:hover {
  transition: background-color 0.5s ease;
  /* transition: transform 0.5s ease; */
  border-color: rgb(0, 255, 21);
  /* transform: scale(1.025, 1.025); */
  background-color: #000;
  cursor: pointer;
}

.project-title {
  text-align: center;
  color: rgb(0, 255, 21);
  font-weight: bolder;
}

.showcase {
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 350px;
}

.showcase-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-height: 50vh;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  max-width: 50vw;
}

.showcase-img:hover {
  transition: box-shadow 0.5s ease;
  box-shadow: 2px 2px 15px green;
}

.project-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  justify-content: space-around;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(7, 182, 16);
  border-radius: 3px 0 0 3px;
  color: rgba(102, 255, 0, 0.514);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag:hover {
  background-color: rgb(7, 182, 16);
  color: white;
}

.project-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  margin-left: 0px;
}

.menu-btns {
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.close-btn {
  padding: 5px;
}

.close-btn:hover {
  color: white;
  background: red;
}

.min-btn,
.max-btn {
  padding: 5px;
}

.min-btn:hover,
.max-btn:hover {
  background: rgb(128, 118, 118);
}

.video-showcase {
  display: none;
}

.prev-btn,
.next-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  height: 50px;
  color: rgb(0, 255, 42);
  width: 100px;
  font-size: large;
  background: rgba(34, 34, 32, 0.925);
  outline: none;
  border: 2px solid green;
  border-radius: 5px;
}
.prev-btn:hover,
.next-btn:hover {
  transform: scale(1.1, 1.1);
  background: black;
  border: 2px dashed green;
}

@media only screen and (min-width: 768px) {
  .pre-name {
    color: white;
    font-weight: bold;
    font-size: 8px !important;
    margin-left: 50px;
    font-size: 0.8rem;
    animation: changecolor 2s infinite;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  }
}

@media only screen and (max-width: 767px) {
  .pre-name {
    font-size: 5px !important;
    margin-left: auto;
    margin-right: auto;
    overflow-x: br;
  }
  #photo {
    margin-left: auto;
    margin-right: auto;
  }

  .project-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .showcase {
    display: none !important;
    top: 0px;
    margin-bottom: 0px;
  }

  .prev-btn,
  .next-btn {
    display: none;
  }

  .project {
    width: 90vw;
  }
  .showcase-div {
    display: block !important;
  }
  .video-showcase {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.github-link {
  padding: 5px;
  color: rgb(42, 157, 165);
  text-decoration: none !important;
  font-weight: 600;
}

.github-link:hover {
  border: 2px solid rgb(255, 0, 0);
  background-color: rgb(71, 69, 69);
}
