body {
  margin-top: 100px;
  margin-left: 20px;
  text-decoration: none !important;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.849);
  scroll-behavior: smooth;
  height: 100%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.95rem;
}


p > i {
  font-size: 13px;
}

.terminal-text {
  white-space: pre-wrap;
  color: green;
}




p > strong {
  color: rgba(237, 132, 19, 0.995);
  cursor: pointer;
}
p {
  color: white;
}

@keyframes changecolor {
  0% {
    color: white;
  }
  50% {
    color: rgb(10, 255, 10);
    text-shadow: 0 0 20px rgba(0,0,0,0.5);

  }
}

#terminal > p {
  color: rgb(1, 244, 54);
}
.pre-terminal {
  color: white;
}
#terminal {
  border: none;
  background: transparent;
  color: white;
  font-size: 0.9rem;
}

.terminal-line {
  display: flex;
}

.pre-terminal{
  white-space: pre-wrap;
}

#cursor {
  font-size: 30px;
}

.terminal-text {
  font-size: 0.95rem !important;
  padding-right: 20px;
}


#terminal-text-active:after {
  content: "";
  width: 20px;
  height: 10px;
  background: rgb(30, 255, 0);
  opacity: 1;
  /* display: inline-block; */
  animation: blink 0.8s linear infinite alternate;
}
p > a {
  color: rgb(17, 255, 152);
  text-decoration: none;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  }
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.command-text{
  color: #00cc00 !important;
  font-size: 0.95rem !important;
}

input {
  overflow-wrap: break-word !important;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9rem !important;
  color: #00cc00 !important;
  caret-color: #00cc00;
  /* background-color: rgb(36, 109, 16); */
  text-decoration: none;
  width: 100%;
}

.fancy{
  font-weight: bold;
  color: rgba(237, 132, 19, 0.995) !important;
  text-decoration: none;
}

.terminal-path{
  color: rgba(255, 247, 0, 0.824);
  margin-left: 5px;
}

.textual-info > p {
  font-size: 1rem !important;
}

.pre-name{
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (min-width: 768px) {
  .pre-name {
    color: white;
    font-weight: bold;
    margin-left: 50px;
    font-size: 0.8rem;
    overflow-x: br;
    animation: changecolor 2s infinite;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  }
}

@media only screen and (max-width: 767px) {
  .pre-name {
    color: white;
    font-weight: bold;
    /* margin-left: 50px; */
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5rem;
    overflow-x: br;
    animation: changecolor 2s infinite;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  }
  #photo{
    margin-left: auto;
    margin-right: auto;
  }
}
